body {
  position: relative;
  width: 320px;
  background: #fff;
  box-sizing: border-box;
}

.navigation_bars {
  position: absolute;
  width: 20px;
  height: 14px;
  left: 284px;
  top: 19px;
  background: #fff;
}

.navigation_bars:hover {
  border: 2px solid #fff;
}

.image_geometry_1 {
  position: absolute;
  width: 111px;
  height: 74px;
  margin-left: 0;
  margin-top: 0;
}

.image_geometry_1:hover {
  border: 2px solid #fff;
}

.name {
  position: absolute;
  width: 220px;
  height: 100px;
  left: 16px;
  top: 74px;
  font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
}

.content {
  position: absolute;
  width: 288px;
  height: 126px;
  left: 16px;
  top: 224px;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1a2236;
}

.button1 {
  position: absolute;
  width: 288px;
  height: 50px;
  left: 16px;
  top: 390px;
  background: #1a2236;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.image_geometry_2 {
  position: absolute;
  width: 320px;
  height: 160px;
  margin-left: 0;
  top: 472px;
}

.projects {
  position: absolute;
  width: 181px;
  height: 50px;
  left: 16px;
  top: 632px;
  font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
}

.container1 {
  display: grid;
  background-color: #fff;
}

.box1 {
  width: 320px;
  height: 186px;
  margin-top: 754px;
  background-color: inherit;
  display: grid;
  place-items: center;
}

.box2 {
  display: grid;
  background: #1a2236;
  left: 20px;
  top: 960px;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 80%;
  color: #fff;
  place-items: center;
}

.box3 {
  background: #1a2236;
  display: flex;
  justify-content: center;
  gap: 10px;
  text-decoration: none;
}

.button_1 {
  background: #98dede;
  top: 998px;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 80%;
  color: #1a2236;
  cursor: pointer;
  border: none;
}

.box4 {
  background-color: #1a2236;
}

.project {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  color: #fff;
  cursor: pointer;
  border: 1px solid #fff;
  margin: 18px;
  background-color: #1a2236;
}

.project:hover {
  border: 2px solid #00f;
}

.button_1:hover {
  border: 2px solid #00f;
}

.button1:hover {
  border: 2px solid #00f;
}

.container2 {
  background-color: #1a2236;
}

.box6 {
  width: 320px;
  height: 186px;
  background-color: inherit;
  display: grid;
  place-items: center;
}

.container3 {
  grid-template-columns: 288px;
  grid-template-rows: 278px;
  background-color: #fff;
  margin-left: 16px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.about {
  position: absolute;
  width: 134px;
  height: 50px;
  font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
}

.lorem {
  position: absolute;
  width: 288px;
  height: 126px;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #1a2236;
  margin-top: 60px;
}

.button_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-direction: row;
  background-color: #1a2236;
  color: #fff;
  cursor: pointer;
  border: 1px solid #fff;
  margin-top: 210px;
  width: 288px;
  height: 50px;
}

.button_2:hover {
  border: 2px solid #00f;
}

.pa1 {
  color: #fff;
  font-size: large;
}

.container4 {
  display: grid;
  grid-template-columns: 289px;
  grid-template-rows: 289px 289px 289px;
  gap: 16px;
  margin-left: 16px;
}

.card1 {
  background: #1c528a;
  color: #fff;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.0525em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card2 {
  background: #e2505c;
  color: #fff;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.0525em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card3 {
  background: #febf52;
  color: #fff;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.0525em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hash1 {
  position: absolute;
  margin-left: 187px;
  margin-top: 187px;
}

.hash2 {
  position: absolute;
  margin-left: 187px;
  margin-top: 187px;
}

.hash3 {
  position: absolute;
  margin-left: 180px;
  margin-top: 187px;
}

.formsection {
  display: grid;
  grid-template-columns: 320px;
  grid-template-rows: 813px;
  margin-top: 16px;
}

.getstarted {
  position: absolute;
  width: 249px;
  height: 50px;
  left: 16px;
  margin-top: 30px;
  font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  color: #1a2236;
}

main {
  position: absolute;
  width: 288px;
  height: 63px;
  left: 16px;
  margin-top: 130px;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #1a2236;
}

footer {
  position: absolute;
  width: 320px;
  height: 150px;
  left: 0;
  margin-top: 660px;
  background: #1a2236;
}

.pa {
  position: absolute;
  width: 127px;
  height: 24px;
  left: 16px;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #92dcdc;
  margin-top: 30px;
}

.arrowbox {
  position: absolute;
  width: 22px;
  height: 22px;
  left: 140px;
  margin-top: 32px;
}

.socialmediaicons {
  margin-top: 90px;
  display: flex;
  justify-content: space-around;
}

.form {
  margin-top: 230px;
  margin-left: 16px;
}

.form form {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

form input {
  width: 288px;
  height: 52px;
}

form textarea {
  width: 288px;
  height: 112px;
}

form #submit {
  color: #fff;
  background: #1a2236;
  cursor: pointer;
}

form #submit:hover {
  border: 5px solid #00f;
}
